<div class="row expanded">
    <div class="large-12">
        <h3>Expériences</h3>
    </div>
    <div class="large-12 columns">
        <ul class="no-bullet heightSec">
            <li>2017: Annimation d'un atelier printemps du code <ul>
                    <li>Initiation à la programmation à de jeunes adultes</li>
                </ul></li>
            <li>2017: Création d'un site E-commerce En javascript</li>
            <li>2017: Rendre un site responsive</li>
            <li>2015: Stagiaire service informatique ST-GOBAIN. <ul>
                    <li>Réorganisation de baies de brassage </li>
                    <li>Création de plan des prise murale (RJ45) avec autocad.</li>
                </ul></li>
            <li>2014: Stagiaire Technicien espace-info.com <ul>
                    <li>Installation/maintenance de photocopieur en réseaux</li>
                    <li>Installation et paramétrage d’un serveur N.A .S. (nas4free)</li>     
                </ul></li>
            <li>2013: Stagiaire service Informatique U.T.C <ul>
                    <li>Maintenance informatique</li>
                    <li>Création master windows 7</li>
                </ul></li>   
        </ul>
    </div>
</div>