<div class="row expanded">
    <div class="large-12">
        <h3>Formations</h3>
    </div>
    <div class="large-12 columns">
        <ul class="no-bullet heightSec">
            <li>2017: Certification des bonnes pratique du web OPQUAST avec 870 points</li>
            <li>2017: Formation des bonnes pratique du web OPQUAST</li>
            <li>2017: Préparation du titre pro dévoloppeur logiciel.(niveaux III)</li>
            <li>2017: Formation développeur web à E2N labélisé grande école du numérique par l'état.</li>
            <li>2015: Obtentention du BAC professionnel S.E.N (Sustèmes Electroniques et Numérique.</li>
            <li>2014: Obtention certification B.E.P.</li>
        </ul>
    </div>
</div>